version: '2'

services:
  redcap:
    restart: always
    env_file:
     - .env
    build:
      context: ./redcap
      args:
        smtp_server: "${SMTP_SERVER}"
        redcap_version: "${REDCAP_VERSION}"
        redcap_directory: "${REDCAP_DIRECTORY}"
    ports:
      - "${HTTP_PORT}:80"
    volumes:
      - "${DATA_DIRECTORY}:/edocs"

